# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
__pycache__/numba

# Virtual Environments
.venv/
venv/
env/
ENV/

# Testing & Caches
.pytest_cache/
.coverage
htmlcov/

# Distribution / Packaging
build/
dist/
*.egg-info/
*.egg

# IDEs and Editors
.vscode/
.idea/
*.swp
*.swo

# OS files
.DS_Store
Thumbs.db
